/* Below is CSS for body, header, nav menu and footer */
body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: flex-end;
    z-index: 1000;
  }

footer {
    position: fixed;
    padding: 1px;
    bottom: 0;
    width:100%;
    z-index: 1000;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #EEEBDD;
    color: #fff;
  }

  @media screen and (max-width: 600px) {
    .content-wrapper{
      width: 100%
    }
    .caffeine-calculator-container{
      width: 100%
    }
  }

  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li:last-child {
    margin-right: 40px;
  }
  
  header nav ul li a {
    text-decoration:solid;
    color: whitesmoke;
  }

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('caffeinewisebackground.png');
    background-size: cover;
    background-position: center;
  }

/* Below is CSS for main fonts */
  #dosis-header{
    font-family: "Dosis", sans-serif;
    font-size: 20px;
    font-style: bold;
    text-align: center;
    color:whitesmoke;
  }

  #maintitle {
    font-family:"Prata", serif;
    font-size: 120px;
    color:whitesmoke;
    text-align: center;
    margin-bottom: 5px;
  }

  #intro {
    font-family: "Dosis", sans-serif;
    font-size: 28px;
    color:whitesmoke;
    text-align: center;
    margin-top: 5px;
  }

  #footer-disclaimer {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    text-align: center;
    color:burlywood;
    padding: 0 60px;
    box-sizing: border-box;
  }

/* Below is CSS for main page "Let's Go" button */
  #lets-go-button {
    
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #C69D5F;
    border: 2px outset whitesmoke;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
  }
  
  #lets-go-button:hover {
    background-color: #FFC100;
  }

  .no-underline {
    text-decoration: none;
  }


/*Below is CSS for "About" */

.three-box-wrapper {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  margin:40px;
}

.three-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height:auto;
}

.three-box img {
  max-width: 100%;
  height: auto;
}

/* Below is CSS for Caffeine Caculator Page*/

.content-wrapper {
  display: flex;
  flex:1;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  }

.left-container,
.right-container {
  flex: 1;
  padding: 20px;
}

.caffeine-calculator-container {
flex: 4;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin:auto;
padding: 50px;
height: auto;
background-color: #3C2A21;
border-radius: 20px;
}

#sub-title{
  font-family:"Prata", serif;
  font-size: 60px;
  font-style: bold;
  color: white;
  margin:10px;
  text-align: center;
}

#caffeine-questions{
font-family: "Dosis", sans-serif;
font-size: 25px;
font-style: bold;
color: whitesmoke;
}

#caffeine-results{
  font-family: "Dosis", sans-serif;
  font-size: 15px;
  font-style: bold;
  color: #3C2A21;
}

#result-box,
#cups-value {
  font-family: "Prata", serif;
  font-size: 18px;
  font-style: bold;
  color: #3C2A21;
}

.body-weight-kilogram{
font-family: "Dosis", sans-serif;
font-size: 15px;
font-optical-sizing: auto;
font-style: normal;
}

.sensitivity-to-caffeine{
font-family: "Dosis", sans-serif;
font-style: bold;
color: #3C2A21;
flex-wrap: wrap;
}

.sensitivity-to-caffeine input[type="radio"],
.sensitivity-to-caffeine label {
  flex-basis: calc(33.33% - 20px); /* Adjust width to fit three items per row */
  margin: 5px; /* Adjust spacing between items */
}

input[type="number"] {
font-family: "Dosis", sans-serif;
font-optical-sizing: auto;
font-style: normal;
padding: 10px 20px;
border: 3px solid #ccc;
border-radius: 20px;
font-size: 16px;
outline: none;
min-width:150px;
transition: border-color 0.3s ease; 
}

input:hover {
cursor: text;
}

::placeholder {
font-family: "Dosis", sans-serif;
font-optical-sizing: auto;
font-style: normal;
color: #3C2A21;
}

input.input-filled {
border-color: #74512D;
}

input[type="radio"] {
display: none;
margin-right: 5px;
}

/* Style the labels to look like buttons */
label {
display: inline-block;
padding: 10px 20px;
margin: 5px;
width: 85px;
text-align: center;
background-color: white;
border: 10px outset #FEFAF6;
border-radius: 20px;
cursor: pointer;
}

input[type="radio"]:checked + label {
background-color: #C69D5F;
}

.calculate-reset-button {
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
}

#calculate-button {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: 10px outset #EADBC8;
  border-radius: 20px;
  outline: none;
  margin: 10px;
  margin-top: 40px;
  width: auto;
  background-color: maroon;
  color: white;
  cursor: pointer;
}

#calculate-button:hover {
  background-color: #FFC100;
}

/* Style for Reset button */
#reset-button {
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: 10px outset #EADBC8;
  border-radius: 20px;
  outline: none;
  margin: 10px;
  margin-top: 40px;
  width: auto;
  background-color: maroon;
  color: white;
  cursor: pointer;
}

#reset-button:hover {
  background-color: #FFC100;
  color: white;
}

#result-box {
padding: 10px;
border-bottom: 5px solid #ccc;
border-radius: 20px;
margin: 10px;
text-align: center;
width: max-content;
background-color: #ffffff;
background-color: #FFC100;
}

.result-section {
display: flex;
align-items: center;
background-color: #FEFAF6;
border-radius: 50px;
padding: 10px 20px;
margin-top: 50px;
}

.result-info {
display: flex;
flex-direction: column;
margin-right: 20px;
} 

#cups-value {
  padding: 10px;
  border-bottom: 5px solid #ccc;
  border-radius: 20px;
  background-color: #FFC100;
  margin: 10px;
  text-align: center;
  width: max-content;
}
